@model IEnumerable<AdvantageViewModel>

<div class="advantages-2 content-area bg-grea-3">
	<div class="container">
		<!-- Main title -->
		<div class="main-title">
			<h1 class="mb-10">Üstünlüklərimiz</h1>
			<div class="title-border">
				<div class="title-border-inner"></div>
				<div class="title-border-inner"></div>
				<div class="title-border-inner"></div>
				<div class="title-border-inner"></div>
				<div class="title-border-inner"></div>
			</div>
		</div>
		<div class="row">
			@foreach (var item in Model)
			{
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="advantages-box-2 df-box">
						<div class="icon">
							<i class="@item.Icon flaticon-shield"></i>
						</div>
						<div class="detail">
							<h5>
								<a href="services.html">@item.Title</a>
							</h5>
							<p>
								@item.Description
							</p>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
</div>